@import './../../../assets/styles/shared.scss';

:host {
  display: block;
  background-color: white;
  // padding-bottom: 50px;
}

shared-divider {
    margin-top: -20px;
    &:first-of-type {
      margin-top: 0;
    }
}