@import './../../../assets/styles/shared';

:host {
  text-transform: uppercase;
  border-radius: 0 !important;
  color: $medgray;
  font-weight: 700;
  text-align: right;
  font-size: .75rem;
  line-height: 1.9;
  background-color: $darkgray;
    &:hover {
      background-color: $darkgray;
    }
  @include sweep-to-right();
  i {
    font-size: 1.5rem;
    vertical-align: middle;
    float: left;
  }
}