@import './../../../assets/styles/shared';

:host {
  display: block;
  padding-bottom: 20px;
}

h2 span {
  text-transform: none;
  font-size: 1rem;
  vertical-align: middle;
}

p:first-of-type {
  font-style: italic;
  font-size: .9rem;
  margin-bottom: 0;
  i {
    padding-right: 10px;
    color: $medgray;
  }
}