/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Open+Sans:300,400,800');
@import './assets/styles/globalvars';

body {
  // background-image: url('./assets/images/seattle.jpg');
  // background-size: cover;
  background-color: #efefef;
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

h1, h2, h3 {
  text-transform: uppercase;
  color: $darkgray;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 32px;
}

h2 {
  font-weight: 300;
  font-size: 1.4rem;
  margin-top: -5px;
  color: $medgray;
}

h3 {
  font-weight: 800;
  font-size: 1.2rem;
}